 .Footernav {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.Footernav-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0;
    background-color: #000;
    font-family: adobe-clean,sans-serif;
}
body {
    margin: 0 auto;
    border: 0;
    zoom: 100%;
    color: #FFF;
    font-size: 1em;
    line-height: inherit;
    font-style: normal;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0 0 9px 0 rgba(0,0,0,.2);
    min-height: 100%;
}
@media screen and (min-width: 1080px){
 .Footernav-menu {
    padding: 20px;
	overflow: hidden;
}
}
.Footernav-wrapper *,.Footernav-wrapper :after, .Footernav-wrapper :before{
    box-sizing: border-box;
}
.Footernav-wrapper ul, .Gnav-wrapper ul, .Subnav-wrapper ul, .Profile-menu {
    list-style: none;
}
@media screen and (min-width: 1080px){
.Footernav-menu-items {
    margin: 0 -30px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
}
.Footernav-menu-items {
    padding: 0;
    display: flex;
}
@media screen and (min-width: 1080px){
	.Footernav-menu-item:first-child {
    padding-top: 5px;
}
}
@media screen and (min-width: 1080px){
	.Footernav-menu-item {
    padding: 5px 30px;
    flex-basis: 50%;
	flex-grow: 1;
}
}
.Footernav-menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
}
.Footernav-wrapper a {
    text-decoration: none;
}

@media screen and (min-width: 1080px){
 .Footernav-menu-label {
    height: auto;
    padding: 0;
    margin-bottom: 12px;
    cursor: default;
}
}
 .Footernav-menu-label {
    position: relative;
    height: 55px;
    padding: 0 35px 0 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
}
@media screen and (min-width: 1080px){
.Footernav-submenu-wrapper {
    max-height: none;
    visibility: visible;
}
}
.Footernav-wrapper ul{
    list-style: none;
}

@media screen and (min-width: 1080px){
	.Footernav-submenu {
    padding: 0;
}
}
 .Footernav-submenu {
    padding: 15px 0;
    margin: 0;
}
@media screen and (min-width: 1080px){
	.Footernav-submenu-item {
    min-height: 24px;
}
}
 .Footernav-submenu-item {
    min-height: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.Footernav-wrapper a{
    text-decoration: none;
}

@media screen and (min-width: 1080px){
	.Footernav-submenu-link {
    width: auto;
    padding: 3px 0;
}
}
.Footernav-submenu-link {
    width: 100%;
    padding: 3px 35px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    color: #999;
    transition: color .1s ease;
}
@media screen and (min-width: 1080px)
adobe-globalnav.min.css:16
#AdobeFooterNav .Footernav-menu-item.is-social {
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

@media screen and (min-width: 1080px){
	.Footernav-menu-item+.Footernav-menu-item {
    border-left: 1px solid #333;
}
}
@media screen and (min-width: 1080px){
	.Footernav-menu-item {
    padding: 5px 30px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
}
 .Footernav-menu-item {
    position: relative;
    padding-bottom: 1px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
 .Footernav-misc {
    padding: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.Footernav-wrapper ul{
    list-style: none;
}
 .Footernav-disclaimers {
    padding: 5px 0;
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 11px;
    color: #999;
}
 .Footernav-disclaimer {
    padding: 5px 0;
    color: inherit;
}
.Footernav-disclaimer:after {
    margin: 0 8px;
    content: '/';
}
.Footernav-submenu-link:hover {
    color: #fff;
}
