.row {
	margin-right: 0;
}

body {
	background-image: url(../images/bg/mo.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.back-layer {
	background-color: rgba(255, 255, 255, 0.89);
}
.title h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.5em;
	font-family: 'Manuale', serif;
	color: rgba(204, 0, 0, 0.83);
	margin-top: 2em;
}
.title .color {
	color: #000;
}
#blog-details ul,
li {
	list-style: disc;
	float: none;
	margin: 5px 0 0 0;
}
.t2 table td {
	border: #cacaca 1px solid;
	font-weight: 400;
	vertical-align: top;
	padding: 8px 4px 8px 8px;
	line-height: 29px;
	text-align: left;
	font-size: 1.05em;
	font-family: 'Manuale', serif;
}
.post-thumb img {
	max-width: 415px;
	max-height: 450px;
	border: none;
}
.carousel-indicators {
	bottom: -24px;
}
.carousel-inner>.item>img {
	height: 220px;
	vertical-align: middle;
	margin: 0 auto;
}
.carousel-control.left {
	background-image: none;
}
.carousel-control.right {
	background-image: none;
}
.carousel-indicators .active {
	background-color: #f82f53;
}
.carousel-indicators li {
	border: 1px solid #f82f53;
}
.call-to-action {
	text-align: center;
}
.dwnld {
	font-size: 1.05em;
	font-family: 'Manuale', serif;
	color: #fff;
	background-color: #f82f53;
	text-transform: capitalize;
	padding: 7px 11px;
	border-radius: 1.25em;
	display: inline-block;
	margin: 26px 0 0 3em;
	outline: none;
}
.enquire {
	font-size: 1.05em;
	font-family: 'Manuale', serif;
	color: #fff;
	background-color: #f82f53;
	text-transform: capitalize;
	padding: 7px 11px;
	border-radius: 1.25em;
	display: inline-block;
	margin: 26px 0 0 0;
	outline: none;
}
.title h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.6em;
	color: rgba(204, 0, 0, 0.83);
	font-family: 'Manuale', serif;
}
.sidebar img {
	max-width: 52px;
	max-height: 52px;
}
/*Tabs styling*/
.tab-content {
	padding-top: 20px;
}
.shift-cell {
	list-style: disc;
	margin-left: 28px;
	font-size: 1.05em;
	text-align: left;
	font-family: 'Manuale', serif;
}
.page-header {
	margin-top: 3em;
	font-size: 1.15em;
	text-align: left;
	color: #333;
	line-height: 1.4em;
	border: none;
	font-family: 'Manuale', serif;
}
.nav-tabs>li>a {
	color: #333;
	border: 1px solid transparent;
	font-weight: 600;
}
.nav-tabs>li>a:hover {
	border-color: transparent;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: rgba(204, 0, 0, 0.83);
	font-size: 1.1em;
	font-family: 'Manuale', serif;
}
/*Tabs styling*/
.padding-top {
	padding-top: 78px;
}
.padding-bottom {
	padding-bottom: 75px;
}
.sidebar h3 {
	margin-top: 0;
	border-bottom: 2.2px solid rgba(204, 0, 0, 0.83);
	margin-bottom: 6px;
	padding-bottom: 8px;
}
.sidebar-item {
	margin-bottom: 48px;
}
.categories .navbar-stacked li {
	border-bottom: 1px solid #ececec;
}
.categories .navbar-stacked li:last-child {
	border-bottom: 0px solid #ececec;
}
.categories .navbar-stacked li a {
	font-size: 1.1em;
	color: #6a6a6a;
	padding: 8px 0;
	padding-left: 0;
	font-family: 'Manuale', serif;
}
.categories .navbar-stacked li a:hover {
	background: none;
	margin-left: 20px;
	color: #dab074;
	opacity: 1;
}
.sidebar-item .media {
	border-bottom: 1px solid #cacaca;
	padding-bottom: 10px;
	padding-top: 21px;
	margin-top: 0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.sidebar-item .media:last-child {
	border-bottom: 0px solid #ececec;
	padding-bottom: 0;
}
.sidebar-item .media:hover {
	border-left: 2px solid rgba(204, 0, 0, 0.83);
	padding-left: 5px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.sidebar-item .media:hover.media .media-body h4 a {
	color: #dab074;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.sidebar-item .media .media-body h4 {
	margin-top: 0;
	margin-bottom: 8px;
}
.sidebar-item .media .media-body h4 a {
	color: #6a6a6a;
	font-size: 1em;
	font-family: 'Manuale', serif;
}
.post-thumb {
	margin: -1px -1px 8px;
	position: relative;
	overflow: hidden;
}
.single-blog {
	padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
	h2 {
		font-size: 20px;
	}
	.title h2 {
		font-size: 1.8em;
	}
	.dwnld {
		margin: 26px 0 0 0;
		font-size: 0.95em;
	}
	.enquire {
		margin: 26px 0 0 0;
		font-size: 0.95em;
	}
	.page-header {
		font-size: 1.02em;
	}
	.nav-tabs>li>a {
		font-size: 0.9em;
	}
	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:focus,
	.nav-tabs>li.active>a:hover {
		font-size: 0.95em;
	}
	.t2 table td {
		font-size: 0.94em;
	}
	.post-thumb img {
		max-width: 400px;
		max-height: 300px;
	}
	.padding-top {
		padding-top: 2em;
	}
	.padding-bottom {
		padding-bottom: 1em;
	}
	.shift-cell {
		font-size: 0.94em;
	}
}
